.container {
    width: 80%;
    left: 136px;
    top: 84px;
    margin: 40px auto;
    padding: 16px;
    background: #FEFEFF;
    border-radius: 8px;
    box-shadow: 1px 7px 33px 9px rgba(34, 60, 80, 0.2);
    /* background-color: rgba(0, 0, 0, 0.226); */
}

.leftSide {
    background-color: rgba(0, 0, 0, 0.226);
    /* text-align: center; */
}



.leftTitle {
    font-size: 16px;
    line-height:33px;
    ;
   color: #2D2E46;
}

.rightTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
}