.passwordRecovering {
    text-align: center;
    margin-top: 100px;
  
}

.title {
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
  }


.subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin-top: 32px;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}

.tryLogin {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 11px;
}