.newPassword {
    max-width: 413px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}



