.checkEmail {
    max-width: 413px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}

.image {
    width: 108px;
    height: 108px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 35px;
}
