.container {
    max-width: 413px;
    margin: 50px auto;
    text-align: center; 
    background-color: white;
    border-radius: 8px;
}

.form {
    margin-top: 38px;
    text-align: center;
}

.title {
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    padding-top: 22px;
}


.subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin-top: 32px;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
}

.bottomRedirect {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 11px;
    padding-bottom: 31px;
}

