.container {
    width: 1008px;
    height: 636px;
    left: 136px;
    top: 84px;
    margin: auto;
    padding: 16px;

    background: rgba(184, 184, 227, 0.71);
    border-radius: 8px;
}

.table-container {
    height: 484px;
}